<div class="container spacer">
<div class="panel panel-primary ">
	<div class="panel-heading">A propos</div>
	<div class="panel-body">
		<p>Name:{{infos.name}} <strong></strong></p>		
	</div>
</div>
</div>
