<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading">Liste des contacts</div>
		 <div class="panel-body">
		 	<div class="form-group">
		 		<label>Mot clé:</label>
		 		<input type="text" [(ngModel)]="motCle"/>
		 		<button class="=btn-primary" (click)="chercher()">Chercher</button>


		 	</div>
		 	<table class="table table-striped">
		 	<tr>
		 		<th>ID</th>
		 		<th>Nom</th>
		 		<th>Prénom</th>
		 		<th>Email</th>
		 	</tr>
		 	<tr *ngFor="let c of pageContacts?.content">
		 		<td>{{c.id}}</td>
		 		<td>{{c.nom}}</td>
		 		<td>{{c.prenom}}</td>
         <td>{{c.email}}</td>
         <td><a (click)="onEdit(c.id)" class="clickable">Editer</a>
          <td><a (click)="onDelete(c.id)" class="clickable">Supprimer</a>
        </td>
		 	</tr>
		 	</table>
		 	<div class="container">
		 		<ul class="nav nav-pills">
		 			<li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages ; let i=index">
		 				<a  class="clickable" (click)="gotoPage(i)"> {{i}} </a>
		 			</li>
		 		</ul>
		 	</div>
		 </div>
		</div>
	</div>

