
<div class="container spacer" >
	<button routerLink="/about" class="btn btn-primary"> About </button>
	<button routerLink="/contacts" class="btn btn-primary"> Contacts </button>
  <button routerLink="/new-contact" class="btn btn-primary"> Nouveau contact </button>

</div>
<router-outlet>

</router-outlet>
