<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Nouveau contact</div>
        <div class="panel-body">
  <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">

    <div class="form-group">
            <label class="control-label"> Nom: </label>
            <input  id="nom" name="nom" type="text" class="form-control" ngModel name="nom" required/>
    </div>
          <div class="form-group">
              <label class="control-label"> Prenom: </label>
              <input type="text" class="form-control" ngModel name="prenom" required/>
            </div>

            <div class="form-group">
                <label class="control-label"> Email: </label>
                <input type="email" class="form-control" ngModel name="email" required email/>
              </div>

              <div class="form-group">
                  <label class="control-label"> Telephone: </label>
                  <input type="number" class="form-control" ngModel name="tel" required/>
                </div>

                <div class="form-group">
                    <label class="control-label"> Date de naissance: </label>
                    <input type="date" class="form-control" ngModel name="dateNaissance" required/>
                  </div>

                  <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
                  </form>
                  </div>
                </div>




</div>
